<!-- <div class="card col-sm-6 col-md-4"> -->
<!--   <img class="project-img" src="./img/projects/@@page/@@img"/> -->
<!--   <div class="card-body"> -->
<!--     <h5 class="card-title">@@title</h5> -->
<!--     <a href="/@@link" class="btn btn-primary">View project</a> -->
<!--   </div> -->
<!-- </div> -->
<div class="card col-sm-6 col-md-4">
  <a class="project-link" href="/@@link">
    <img class="project-img" src="./img/projects/@@page/@@img"/>
    <div class="project-text">
      <div class="project-title">
        <div class="project-title-word">@@title</div>
      </div>
    </div>
  </a>
</div>
