<section >
  <div id="projectCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-keyboard="true">
    <!-- Carousel Buttons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <!-- Carousel -->
    <div class="carousel-inner">
      <!-- slide 1 -->
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
          <!-- Card 1 -->
          @@include("./project/projects-slider-card.html", {
            "number": "2",
            "link": "project-2.html",
            "img": "2.png",
            "title": "Manhattan avenue"
          })
          @@include("./project/projects-slider-card.html", {
            "number": "3",
            "link": "project-3.html",
            "img": "3.jpg",
            "title": "West 13th St Manhattan"
          })
          @@include("./project/projects-slider-card.html", {
            "number": "4",
            "link": "project-4.html",
            "img": "4.jpg",
            "title": "Narrows Road"
          })
        </div>
      </div>
      <!-- slide 2 -->
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
          @@include("./project/projects-slider-card.html", {
            "number": "5",
            "link": "project-5.html",
            "img": "5.jpg",
            "title": "Saint Edwards St"
          })
          @@include("./project/projects-slider-card.html", {
            "number": "6",
            "link": "project-6.html",
            "img": "6.jpg",
            "title": "Bay 25th Street"
          })
          @@include("./project/projects-slider-card.html", {
            "number": "7",
            "link": "project-7.html",
            "img": "7.jpg",
            "title": "99th St Brooklyn"
          })
        </div>
      </div>
    </div>
  </div>
</section>
