<div id="projectCarouselData" class="d-none">
  @@if(page!=='project-1'){@@include("./projects-carousel-card.html",{
    "page": "project-1",
    "link": "project-1.html",
    "title": "Boerum Street",
    "img": "0.jpg"
  })}
  @@if(page!=='project-2'){@@include("./projects-carousel-card.html",{
    "page": "project-2",
    "link": "project-2.html",
    "title": "Manhattan avenue",
    "img": "0.png"
  })}
  @@if(page!=='project-3'){@@include("./projects-carousel-card.html",{
    "page": "project-3",
    "link": "project-3.html",
    "title": "West 13th St Manhattan",
    "img": "0.jpg"
  })}
  @@if(page!=='project-4'){@@include("./projects-carousel-card.html",{
    "page": "project-4",
    "link": "project-4.html",
    "title": "Narrows Road",
    "img": "0.jpg"
  })}
  @@if(page!=='project-5'){@@include("./projects-carousel-card.html",{
    "page": "project-5",
    "link": "project-5.html",
    "title": "Saint Edwards St",
    "img": "0.jpg"
  })}
  @@if(page!=='project-6'){@@include("./projects-carousel-card.html",{
    "page": "project-6",
    "link": "project-6.html",
    "title": "Bay 25th Street",
    "img": "0.jpg"
  })}
  @@if(page!=='project-7'){@@include("./projects-carousel-card.html",{
    "page": "project-7",
    "link": "project-7.html",
    "title": "99th St Brooklyn",
    "img": "0.jpg"
  })}
</div>
<section>
  <div id="projectCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-keyboard="true">
    <!-- Carousel Buttons -->
    <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
      <span class="carousel-control-icon carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
      <span class="carousel-control-icon carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <!-- Carousel -->
    <div class="carousel-inner"></div>
  </div>
</section>
<script src="./js/projects-carousel.js"></script>
<script>
$(document).ready(function() {
  $('#projectCarousel .card').each(function() {
    var $titleWord = $(this).find('.project-title-word');
    var words = $titleWord.text().split(' ');
    var $title = $titleWord.parent();
    $titleWord.remove();
    $.each(words, function(i, word) {
      $('<div class="project-title-word"></div>').text(word).appendTo($title);
    });
  });
});
</script>
