<div id="copyAlertSuccess" role="alert" class="alert alert-success position-fixed bottom-0 start-50 translate-middle-x">
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <i class="bi bi-check-circle-fill me-2"></i>
      Phone number copied successfully!
    </div>
    <button id="closeCopyAlertSuccess" type="button" class="btn-close" aria-label="Close"></button>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script>
  $(document).ready(function () {
    // copy
    var clipboard = new ClipboardJS('#copyAction');
    clipboard.on('success', function (e) {
      e.clearSelection();
    });
    // show
    $('#copyAction').click(function () {
      if (!$('#copyAlertSuccess').is(':visible')) {
        $('#copyAlertSuccess').fadeIn().delay(2000).fadeOut();
      }
    });
    // close
    $('#closeCopyAlertSuccess').on('click', function () {
      $('#copyAlertSuccess').fadeOut();
    });
  });
</script>
