<div id="confirmCallModal" aria-labelledby="confirmCallModalLabel" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="confirmCallModalLabel" class="modal-title">Let's Connect!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Ready to connect with us over the phone?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-gray" data-bs-dismiss="modal">Cancel</button>
        <button id="confirmCallBtn" type="button" class="btn btn-primary">Yes, Call now</button>
      </div>
    </div>
  </div>
</div>

<script>
// init call
$('#confirmCallBtn').on('click', function() {
  window.location.href = 'tel:+1234567890';
});
</script>
