<div id="phone" class="d-flex flex-row align-items-center justify-content-end px-2">
  <div id="phoneText" class="phone-text p-2">24 Hour Service:</div>
  <div id="phoneDropdown" class="dropdown">
    <button id="phoneDropdownButton" type="button" class="btn btn-primary dropdown-toggle"
       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      (347) 633-4662
    </button>
    <div class="dropdown-menu dropdown-menu-end w-100" aria-labelledby="dropdown-phone">
      <a id="copyAction" class="dropdown-item" data-clipboard-text="(347)633-4662" href="#copy">
        <i class="copy-icon fas fa-clipboard"></i>
        <span class="copy-text p-2">Copy</span>
      </a>
      <a id="callAction" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmCallModal" href="#call">
        <i class="call-icon fas fa-phone-alt"></i>
        <span class="call-text p-2">Call</span>
      </a>
    </div>
  </div>
</div>

<script>
// copy
$('#copyAction').on('click', function(event) {
  event.preventDefault(); // Предотвращаем стандартное поведение ссылки
  event.stopPropagation(); // Предотвращаем распространение события клика

  var $this = $(this);
  var $icon = $this.find('.copy-icon'); // Получаем иконку
  var $text = $this.find('.copy-text'); // Получаем текст
  // Сохраняем исходные данные
  var originalIconClass = $icon.attr('class');
  var originalText = $text.text();
  // copy
  navigator.clipboard.writeText('3476334662')
  // Изменяем иконку и текст
  $icon.removeClass('fa-clipboard').addClass('fa-clipboard-check'); // Замена иконки
  $text.text('Copied!'); // Изменение текста

  setTimeout(function() {
    $('.dropdown-menu').removeClass('show'); // Закрываем dropdown-menu через 1 секунду
    $icon.attr('class', originalIconClass); // Восстанавливаем иконку
    $text.text(originalText); // Восстанавливаем текст
  }, 1000);
});
</script>
