<div class="phone">
  <div class="phoneText phone-text">24 Hour Service:</div>
  <div class="phoneDropdown dropdown">
    <button type="button" class="phoneDropdownButton btn btn-primary dropdown-toggle"
       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      (347) 633-4662
    </button>
    <div class="dropdown-menu dropdown-menu-end w-100" aria-labelledby="dropdown-phone">
      <a class="copyAction dropdown-item" data-clipboard-text="(347)633-4662" href="#copy">
        <i class="copy-icon fas fa-clipboard"></i>
        <span class="copy-text p-2">Copy</span>
      </a>
      <a class="callAction dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmCallModal" href="#call">
        <i class="call-icon fas fa-phone-alt"></i>
        <span class="call-text p-2">Call</span>
      </a>
      <div class="underline"></div>
    </div>
  </div>
</div>

<script>
function handleCopyClick(event) {
  event.preventDefault(); // Предотвращаем стандартное поведение ссылки
  event.stopPropagation(); // Предотвращаем распространение события клика

  var $this = $(event.currentTarget);
  var $icon = $this.find('.copy-icon'); // Получаем иконку
  var $text = $this.find('.copy-text'); // Получаем текст
  console.log($this)
  console.log($icon)
  console.log($text)
  // Сохраняем исходные данные
  var originalIconClass = $icon.attr('class');
  var originalText = $text.text();
  // Копируем текст
  navigator.clipboard.writeText('3476334662')
  // Изменяем иконку и текст
  $icon.removeClass('fa-clipboard').addClass('fa-clipboard-check'); // Замена иконки
  $text.text('Copied!'); // Изменение текста

  setTimeout(function() {
    $('.dropdown-menu').removeClass('show'); // Закрываем dropdown-menu через 1 секунду
    $icon.attr('class', originalIconClass); // Восстанавливаем иконку
    $text.text(originalText); // Восстанавливаем текст
  }, 1000);
}

$(document).ready(function() {
  $('#headerRight .copyAction').off('click').on('click', handleCopyClick);
  $('#navbarContent .copyAction').off('click').on('click', handleCopyClick);
});
</script>
