<!-- slider -->
<div id="aboutUsSlider" class="content dark-nored p-0">
  @@include("./about-us/slider.html")
</div>
<!-- text-center -->
<div id="aboutUsTextCenter" class="content light">
  <div class="container">
    <div class="text-center">
      <p class="text-center-description">
        We take pride in contributing to meaningful projects across the five boroughs.<br>
        With a focus on practical craftsmanship,<br>
        we apply industry-leading technologies to handle electrical construction<br>
        for new facilities and spaces undergoing renovations.
      </p>
      <div class="text-center-bar"></div>
    </div>
    <div class="divider-lightgray-light"></div>
  </div>
</div>
<!-- postcard -->
<div id="aboutUsPostcard" class="content dark">
  <div class="container">
    <article class="postcard dark">
      <div class="postcard-img-wrap">
        <img class="postcard-img" src="./img/about-us/postcard/0.jpg"/>
      </div>
      <div class="postcard-text">
        <h1 class="postcard-title">Your Success, Our Purpose.</h1>
        <div class="postcard-bar"></div>
        <div class="postcard-description">
          <p>At Shelby Electrical Corp, we deliver comprehensive solutions with our dedicated staff and skilled electricians in all five boroughs.</p>
          <p>Specializing in healthcare, data centers, and solar fields, we focus on lasting relationships, clear communication, and mutual success.</p>
          <p>Our dedication is proven by over 85% repeat customer projects, showcasing our commitment to cost-effective, innovative, and people-centric services.</p>
        </div>
      </div>
    </article>
  </div>
</div>
<!-- core-values -->
<div id="aboutUsCoreValues" class="content dark-rev">
  <div class="container">
    <div id="values">
      @@include("./about-us/values-card.html",{
        "title": "Reliability and Safety",
        "description": "Guaranteeing safety and reliability in every project.",
        "img": "0.jpg",
        "ico": "shield"
      })
      @@include("./about-us/values-card.html",{
        "title": "Innovation and Technology",
        "description": "Applying advanced solutions for efficiency and sustainability.",
        "img": "1.jpg",
        "ico": "lightbulb"
      })
      @@include("./about-us/values-card.html",{
        "title": "Professionalism and Expertise",
        "description": "High standard of work and continuous education of our specialists.",
        "img": "2.jpg",
        "ico": "user-tie"
      })
      @@include("./about-us/values-card.html",{
        "title": "Eco-Friendliness and Responsibility",
        "description": "Promoting sustainable development and caring for the planet's future.",
        "img": "3.jpg",
        "ico": "leaf"
      })
      @@include("./about-us/values-card.html",{
        "title": "Transparency and Honesty",
        "description": "Open and honest communication with clients and partners.",
        "img": "4.jpg",
        "ico": "eye"
      })
      @@include("./about-us/values-card.html",{
        "title": "Teamwork and Support",
        "description": "Collaborative effort and mutual assistance to achieve the best results.",
        "img": "5.jpg",
        "ico": "handshake"
      })
    </div>
  </div>
</div>
<div class="divider-dark-primary"></div>
