<!-- slider -->
<div class="content dark-nored p-0">
  @@include("./about-us/carousel.html")
</div>
<!-- pic+text -->
<div class="content dark-rev">
  <div class="container">
    <article class="postcard dark red">
      <div class="postcard__img_link">
        <img class="postcard__img" src="./img/about-us/1.jpg"/>
      </div>
      <div class="postcard__text">
        <h1 class="postcard__title">Your Success, Our Purpose.</h1>
        <div class="postcard__bar"></div>
        <div class="postcard__description">
          At Shelby Electrical Corp, we offer comprehensive solutions through
          the collaborative efforts of our dedicated office staff
          and skilled electricians across all five boroughs.
          Our expertise extends to major healthcare facilities,
          intricate data centers, solar fields, and projects of various sizes.
          Our commitment lies in building lasting relationships.
          We prioritize transparent communication and mutual success.
          Over 85% of our projects come from repeat customers,
          a testament to the trust our clients place in us to consistently deliver
          cost-effective, people-centric, and innovative solutions.
        </div>
      </div>
    </article>
  </div>
</div>
<!-- core-values (like slider) -->
Core Values:
  Reliability and Safety: Guaranteeing safety and reliability in every project.
  Innovation and Technology: Applying advanced solutions for efficiency and sustainability.
  Professionalism and Expertise: High standard of work and continuous education of our specialists.
  Eco-Friendliness and Responsibility: Promoting sustainable development and caring for the planet's future.
  Transparency and Honesty: Open and honest communication with clients and partners.
  Teamwork and Support: Collaborative effort and mutual assistance to achieve the best results.
<!-- text-centered (white like proj-desc) -->
<div class="container">
  <div class="txt">
    <p class="lead">
      We take pride in contributing to meaningful projects across the five boroughs.
      With a focus on practical craftsmanship,
      we apply industry-leading technologies to handle electrical construction
      for new facilities and spaces undergoing renovations.
    </p>
  </div>
</div>
<div class="divider-dark-graylight"></div>
