<div class="first-filler content light">
  <div class="container">
    <div class="career">
      <img class="career-img" src="./img/about-us/2.jpg"/>
      <div class="career-text">
        <h2 class="career-title">A Career to Be Proud Of.</h2>
        <div class="career-bar"></div>
        <p class="career-description">
          Shelby is on the lookout for new team members to join our endeavor
          in developing, energizing, and illuminating the country!
          Explore our job openings and shift your focus from just finding
          a job to building a meaningful career!
        </p>
        <h2 class="txt-title mt-0"><a href="#">LINK_TO_INDEED</a></h2>
      </div>
    </div>
  </div>
</div>
<div class="divider-dark-graylight"></div>
