<div class="first-filler content dark">
  <div class="container d-flex justify-content-center">
    <div id="pageHeaderTitle">
      <h1>Connect with Our Team</h1>
      <p class="lead">
        Feel free to reach out to us.
        We appreciate your inquiries and we will respond promptly.
      </p>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <div id="contentTop" class="d-flex flex-row">
      <div id="sendForm" class="postcard light col-8">
        <h2 class="postcard__title mb-3">Send a Message</h2>
        @@include("./contact-us/form.html")
      </div>
      <div id="followUsTop" class="follow-us postcard dark col-4">
        <h1 class="postcard__title">Follow Our Updates</h1>
        <ul class="list-unstyled">
          <li>
            <a class="img-fluid" href="https://www.instagram.com/shelbyelectrical" target="_blank">
              <i class="fab fa-instagram"></i>
              <p>@shelbyelectrical</p>
            </a>
          </li>
          <li>
            <a class="img-fluid" href="https://www.facebook.com/shelbyelectricalnyc" target="_blank">
              <i class="fab fa-facebook-f"></i>
              <p>@shelbyelectricalnyc</p>
            </a>
          </li>
          <li>
            <a class="img-fluid" href="https://www.linkedin.com/company/shelby-electrical"target="_blank">
              <i class="fab fa-linkedin-in"></i>
              <p>@shelby-electrical</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="followUsBottom" class="content light">
  <div class="container">
    <div class="follow-us postcard light">
      <h1 class="postcard__title">Follow Our Updates</h1>
      <ul class="list-unstyled">
        <li>
          <a class="img-fluid" href="https://www.instagram.com/shelbyelectrical" target="_blank">
            <i class="fab fa-instagram"></i>
            <p>@shelbyelectrical</p>
          </a>
        </li>
        <li>
          <a class="img-fluid" href="https://www.facebook.com/shelbyelectricalnyc" target="_blank">
            <i class="fab fa-facebook-f"></i>
            <p>@shelbyelectricalnyc</p>
          </a>
        </li>
        <li>
          <a class="img-fluid" href="https://www.linkedin.com/company/shelby-electrical"target="_blank">
            <i class="fab fa-linkedin-in"></i>
            <p>@shelby-electrical</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="divider-dynamic"></div>
<div id="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d636.9337065047056!2d-73.95409454862504!3d40.590522842059784!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24461881c16c5%3A0xcd6bad471c0d0714!2s2461%20East%2016th%20Street%2C%20Brooklyn%2C%20NY%2011235!5e0!3m2!1sen!2sus!4v1706992640765!5m2!1sen!2sus"
    width="400" height="300" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>
<div class="divider-dark-graylight"></div>
