<div id="footerTop" class="container d-flex flex-row pt-5">
  <div id="footerTopLeft" class="d-flex flex-row">
    <ul id="footerCompany" class="d-flex flex-column list-unstyled mr-3">
      <li class="title"><span>Company</span></li>
      <li class="nav-link mx-2 @@if(page=='index'){disabled}"><a href="/">Home</a></li>
      <li class="nav-link mx-2 @@if(page=='about-us'){disabled}"><a href="/about-us.html">About us</a></li>
      <li class="nav-link mx-2 @@if(page=='projects'){disabled}"><a href="/projects.html">Projects</a></li>
      <li class="nav-link mx-2 @@if(page=='contact-us'){disabled}"><a href="/contact-us.html">Contact Us</a></li>
    </ul>
    <ul id="footerContacts" class="d-flex flex-column list-unstyled mx-3">
      <li class="title"><span>Contacts</span></li>
      <li><a href="mailto:estimating@shelbyelectrical.com"><i class="mx-2 fas fa-envelope"></i>estimating@shelbyelectrical.com</a></li>
      <li><span><i class="mx-2 fas fa-phone"></i>(347) 633-4662</span></li>
      <li><span><i class="mx-2 fas fa-home"></i>2461 East 16th St, Brooklyn, NY</span></li>
    </ul>
  </div>
  <div id="footerTopRight" class="d-flex flex-column">
    <a href="/"><img id="footerLogo" class="img-fluid" src="img/logo-dark_ico-txt_transp.png"></a>
    <ul id="footerSocial" class="d-flex flex-row list-unstyled">
      <li><a class="img-fluid" href="https://www.instagram.com/shelbyelectrical" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a class="img-fluid" href="https://www.facebook.com/shelbyelectricalnyc" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a class="img-fluid" href="https://www.linkedin.com/company/shelby-electrical" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
  </div>
</div>

<div id="copyright" class="container text-center mt-3 py-3">
  <span>
    Copyright &copy; Shelby Electrical
    <script>document.write(new Date().getFullYear())</script>
  </span>
</div>

<!-- css/js -->
<script src="js/footer.js"></script>
