<div class="first-filler container dark">
  <div id="pageHeaderTitle" class="h1 text-center">
    <h1>Comprehensive Electrical Contracting Services for Your Every Need</h1>
  </div>
  @@include("./index/postcard.html", {
    "theme":       "dark",
    "title":       "Commercial.",
    "subtitle":    "Tailored Solutions for Your Business.",
    "description": "Expert commercial electrical services: from installations to top-quality workmanship.",
    "img":         "commercial.jpg"
  })
  @@include("./index/postcard.html", {
    "theme":       "light",
    "title":       "Residential.",
    "subtitle":    "Crafting Comfort at Home.",
    "description": "Premium residential electrical services, providing safe and reliable solutions.",
    "img":         "residential.webp"
  })
</div>
<div class="container light">
  @@include("./index/postcard.html", {
    "theme":       "dark",
    "title":       "Industrial.",
    "subtitle":    "Precision and Efficiency.",
    "description": "Experienced team for installations, maintenance, and high-quality electrical services.",
    "img":         "industrial.jpg"
  })
  @@include("./index/postcard.html", {
    "theme":       "light",
    "title":       "Service Calls.",
    "subtitle":    "Always There, Anytime You Need.",
    "description": "Round-the-clock emergency electrical services; prompt and efficient solutions.",
    "img":         "service-calls.jpg"
  })
</div>
<div class="container dark-rev">
  @@include("./index/postcard.html", {
    "theme":       "light",
    "title":       "Fire Alarm & ARCS.",
    "subtitle":    "Trusted Fire Safety Partners.",
    "description": "Comprehensive fire alarm and ARCS installations for reliable property safety.",
    "img":         "fire-alarm.webp"
  })
  @@include("./index/postcard.html", {
    "theme":       "dark",
    "title":       "Low Voltage.",
    "subtitle":    "Customized Solutions, Wired for You.",
    "description": "Skilled team for low voltage installations, including data wiring, security systems, and energy-efficient lighting.",
    "img":         "low-voltage.webp"
  })
</div>
<!-- js -->
<script src="js/index.js"></script>
<div class="divider-dark-primary"></div>
