<div class="content dark-nored p-0">
  @@include("./index/carousel.html")
</div>
<div class="content dark-rev">
  <div class="container">
    @@include("./index/postcard.html", {
      "theme":       "light",
      "title":       "Commercial.",
      "subtitle":    "Tailored Solutions for Your Business.",
      "description": "Expert commercial electrical services: from installations to top-quality workmanship.",
      "img":         "commercial.jpg"
    })
    @@include("./index/postcard.html", {
      "theme":       "light",
      "title":       "Residential.",
      "subtitle":    "Crafting Comfort at Home.",
      "description": "Premium residential electrical services, providing safe and reliable solutions.",
      "img":         "residential.webp"
    })
    @@include("./index/postcard.html", {
      "theme":       "light",
      "title":       "Industrial.",
      "subtitle":    "Precision and Efficiency.",
      "description": "Experienced team for installations, maintenance, and high-quality electrical services.",
      "img":         "industrial.jpg"
    })
    @@include("./index/postcard.html", {
      "theme":       "light",
      "title":       "Service Calls.",
      "subtitle":    "Always There, Anytime You Need.",
      "description": "Round-the-clock emergency electrical services; prompt and efficient solutions.",
      "img":         "service-calls.jpg"
    })
    @@include("./index/postcard.html", {
      "theme":       "light",
      "title":       "Fire Alarm & ARCS.",
      "subtitle":    "Trusted Fire Safety Partners.",
      "description": "Comprehensive fire alarm and ARCS installations for reliable property safety.",
      "img":         "fire-alarm.webp"
    })
    @@include("./index/postcard.html", {
      "theme":       "light",
      "title":       "Low Voltage.",
      "subtitle":    "Customized Solutions, Wired for You.",
      "description": "Skilled team for low voltage installations, including data wiring, security systems, and energy-efficient lighting.",
      "img":         "low-voltage.webp"
    })
  </div>
</div>
<!-- js -->
<div class="divider-dark-primary"></div>
