<!DOCTYPE html>
<html lang="en">
<head>
    <title>Venom Snake</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Venom Snake" content="Venom Snake. Ilya Sushkov. 3D Artist, portfolio">
    <meta name="keywords" content="Ilya, Sushkov, 3D Artist, portfolio, Venom Snake">
    <meta name="author" content="Ilya Sushkov">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/project.css">
    <link rel="shortcut icon" href="icon/favicon.png" type="image/png">
</head>
<body>
<div class="wrapper">
    <div class="wrapper2">
        <header>
            <div class="header2">
                <div class="headerLeft">
                    <a href="index.html">
                        <h2 class="ilyaSushkov">ILYA SUSHKOV</h2>
                    </a>
                    <p class="artist">3D Artist</p>
                </div>
                <div class="headerRight">
                    <div class="headerRightItem">
                        <a href="me.html">
                            <h2 class="linkHeader">ABOUT ME</h2>
                        </a>
                    </div>
                    <div class="headerRightItem">
                        <a href="index.html">
                            <h2 class="linkHeader">HOME</h2>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="projectContent">
            <div class="gallery">
                <div class="galleryLeft">
                    <a href="js-game.php">
                        <div class="galleryLinkLeft">
                            <h1 class="indexLeft"><</h1>
                        </div>
                    </a>
                </div>
                <div class="projectBlock">
                    <h2 class="projectName">VENOM SNAKE</h2>
                    <div class="wrap">
                        <input type="radio" name="slides" id="point1" checked>
                        <input type="radio" name="slides" id="point2">
                        <input type="radio" name="slides" id="point3">
                        <input type="radio" name="slides" id="point4">
                        <div class="slider">
                            <figure class="slides auto1 projectBlock2">
                                <img class="projectImg" src="img/venomSnake1.jpg" alt="Venom Snake 1">
                                <figcaption>
                                    <a href="img/venomSnake1.jpg"></a>
                                </figcaption>
                            </figure>
                            <figure class="slides auto2 projectBlock2">
                                <img class="projectImg" src="img/venomSnake2.jpg" alt="Venom Snake 2">
                                <figcaption>
                                    <a href="img/venomSnake2.jpg"></a>
                                </figcaption>
                            </figure>
                            <figure class="slides auto3 projectBlock2">
                                <img class="projectImg" src="img/venomSnake3.jpg" alt="Venom Snake 3">
                                <figcaption>
                                    <a href="img/venomSnake3.jpg"></a>
                                </figcaption>
                            </figure>
                            <figure class="slides auto4 projectBlock2">
                                <img class="projectImg" src="img/venomSnake4.jpg" alt="Venom Snake 4">
                                <figcaption>
                                    <a href="img/venomSnake4.jpg"></a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="control">
                            <label for="point1">
                                <img class="labelImg" src="img/venomSnake1.jpg" alt="1">
                            </label>
                            <label for="point2">
                                <img class="labelImg" src="img/venomSnake2.jpg" alt="2">
                            </label>
                            <label for="point3">
                                <img class="labelImg" src="img/venomSnake3.jpg" alt="3">
                            </label>
                            <label for="point4">
                                <img class="labelImg" src="img/venomSnake4.jpg" alt="4">
                            </label>
                        </div>
                    </div>
                    <div class="empty"></div>
                </div>
                <div class="galleryRight">
                    <a href="versus.html">
                        <div class="galleryLinkRight">
                            <h1 class="indexRight">></h1>
                        </div>
                    </a>
                </div>
            </div>
            <div class="descriptionBlock">
                <div class="descriptionBlockItem1"><p class="description"><a
                        href="https://sketchfab.com/models/378332b29bc343859af5bf6a33504d9f">View 3D model</a> on
                    sketchfab.</p></div>
                <div class="descriptionBlockItem1">
                    <h1 class="descriptionBlockName">TOOLS</h1>
                    <div class="tools">
                        <div class="toolsItem">
                            <div class="toolsIcon">
                                <img src="icon/3dMaxLogo.png" alt="3D Max">
                            </div>
                            <p class="toolsName">3D MAX</p>
                        </div>
                        <div class="toolsItem">
                            <div class="toolsIcon">
                                <img src="icon/modoLogo.png" alt="Modo">
                            </div>
                            <p class="toolsName">MODO</p>
                        </div>
                    </div>
                </div>
                <div class="descriptionBlockItem2">
                    <h1 class="descriptionBlockName">DESCRIPTION</h1>
                    <p class="description">The hand of the character <a
                            href="https://www.google.ru/search?q=Venom+Snake&newwindow=1&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiiyP2N2sHUAhUmKpoKHeH3BgoQ_AUICigB&biw=1920&bih=984#newwindow=1&tbm=isch&q=venom+snake+arm">Venom
                        Snake</a>
                        for cosplay.</p>
                </div>
                <div class="empty"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footerCenter">
            <p class="update"><span class="update2">\\\\\\\\\\\\\\\\\\ </span>UPDATE: 12.07.2017<span
                    class="update2"> /////////////////</span></p>
        </div>
    </div>
</div>
</body>
</html>
