<div class="first-filler content light content-project">
  <div class="container">
    <div id="pageHeaderTitle"><h1>@@title</h1></div>
    <div class="postcard">
      <div class="postcard-gallery">
        <div class="main-image">
          <img class="blur-overlay" src="./img/projects/@@page/@@img-main">
          <div class="darken-overlay"></div>
          <img id="mainProjectImage" src="./img/projects/@@page/@@img-main">
          <div class="fade-overlay"></div>
        </div>
        <div class="thumbnailImages">
          <div id="dataImgOthers" class="d-none">@@img-others</div>
          <ul id="thumbnails" class="thumbnails list-unstyled">
            <li class="thumbnail"><img class="thumbnail-image" onclick="changeImage(this)" src="./img/projects/@@page/@@img-main"></li>
          </ul>
        </div>
      </div>
      <div class="postcard-description">
        <div class="postcard-title"><h3>Description:</h3></div>
        <div class="postcard-bar"></div>
        <div class="postcard-text"><p>@@description</p></div>
      </div>
      <div class="postcard-scope">
        <div class="postcard-title"><h3>Scope Of Work:</h3></div>
        <div class="postcard-bar"></div>
        <div id="scopeOfWork" class="postcard-text list-unstyled">
          <li class="scope-of-work-item">@@scopeOfWork</li>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content darkgray-rev content-other-projects">
  <div id="otherProjectsTitle">
    <h1>Other Projects</h1>
  </div>
  <div class="container">
    @@include("./project/projects-carousel.html", {"page": "@@page"})
  </div>
</div>
<div class="divider-dark-primary"></div>
<script src="./js/project.js"></script>
