<!-- "title": "Boerum Street", -->
<!-- "subtitle": "Residential building construction.", -->
<!-- "description": "19-story residential building in Williamsburg. The 190-foot tall structure yields 100,650 square feet for residential use, with 162 dwelling units, averaging 838 square foot per unit. Below ground space comes with capacity for 85 vehicles and storage space. The first floor has two recreational spaces, a lobby and a package room.", -->
<!-- "img": "1.png", -->
<!-- "link": "project-1.html", -->
<!-- "theme": "light" -->
<div class="first-filler wrapper">
    <div class="wrapper2">
        <div class="projectContent">
            <div class="gallery">
                <div class="galleryLeft">
                    <a href="#left">
                        <div class="galleryLinkLeft">
                            <h1 class="indexLeft"><</h1>
                        </div>
                    </a>
                </div>
                <div class="projectBlock">
                    <h2 class="projectName">proj name</h2>
                    <div class="wrap">
                        <input type="radio" name="slides" id="point1" checked>
                        <input type="radio" name="slides" id="point2">
                        <input type="radio" name="slides" id="point3">
                        <input type="radio" name="slides" id="point4">
                        <div class="slider">
                            <figure class="slides auto1 projectBlock2">
                                <img class="projectImg" src="img.jpg" alt="">
                                <figcaption>
                                    <a href="1.jpg"></a>
                                </figcaption>
                            </figure>
                            <figure class="slides auto2 projectBlock2">
                                <img class="projectImg" src="img.jpg" alt="">
                                <figcaption>
                                    <a href="1.jpg"></a>
                                </figcaption>
                            </figure>
                            <figure class="slides auto3 projectBlock2">
                                <img class="projectImg" src="img.jpg" >
                                <figcaption>
                                    <a href="1.jpg"></a>
                                </figcaption>
                            </figure>
                            <figure class="slides auto4 projectBlock2">
                                <img class="projectImg" src="img.jpg" alt="">
                                <figcaption>
                                    <a href="img.jpg"></a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="control">
                            <label for="point1">
                                <img class="labelImg" src="img.jpg" alt="1">
                            </label>
                            <label for="point2">
                                <img class="labelImg" src="img.jpg" alt="2">
                            </label>
                            <label for="point3">
                                <img class="labelImg" src="img.jpg" alt="3">
                            </label>
                            <label for="point4">
                                <img class="labelImg" src="img.jpg" alt="4">
                            </label>
                        </div>
                    </div>
                    <div class="empty"></div>
                </div>
                <div class="galleryRight">
                    <a href="#right">
                        <div class="galleryLinkRight">
                            <h1 class="indexRight">></h1>
                        </div>
                    </a>
                </div>
            </div>
            <div class="descriptionBlock">
                <div class="descriptionBlockItem1">
                    <p class="description">description</p>
                </div>
                <div class="descriptionBlockItem1">
                    <h1 class="descriptionBlockName">other</h1>
                    <div class="tools">
                        <div class="toolsItem">
                            <div class="toolsIcon">
                                <img src="ico.png">
                            </div>
                            <p class="toolsName">info 1</p>
                        </div>
                        <div class="toolsItem">
                            <div class="toolsIcon">
                                <img src="ico.png">
                            </div>
                            <p class="toolsName">info 2</p>
                        </div>
                    </div>
                </div>
                <div class="descriptionBlockItem2">
                    <h1 class="descriptionBlockName">DESCRIPTION</h1>
                    <p class="description">description</p>
                </div>
                <div class="empty"></div>
            </div>
        </div>
    </div>
</div>
