<div class="first-filler content dark-both">
  <div class="container">
    <div id="pageHeaderTitle">
      <h1>Expertly Executed Projects.<br/>One Name you can trust.</h1>
    </div>
    <div class="row">
      @@include("./projects/item.html", {
        "link": "project-1.html",
        "title": "Boerum Street",
        "subtitle": "Residential building construction.",
        "img": "1.png"
      })
      @@include("./projects/item.html", {
        "link": "project-2.html",
        "title": "Manhattan avenue",
        "subtitle": "Residential and commercial development.",
        "img": "2.png"
      })
      @@include("./projects/item.html", {
        "link": "project-3.html",
        "title": "West 13th Street Manhattan",
        "subtitle": "High-rise residential construction.",
        "img": "3.jpg"
      })
      @@include("./projects/item.html", {
        "link": "project-4.html",
        "title": "Narrows Road Brooklyn",
        "subtitle": "Residence renovation.",
        "img": "4.jpg"
      })
      @@include("./projects/item.html", {
        "link": "project-5.html",
        "title": "Saint Edwards St",
        "subtitle": "Residential building construction.",
        "img": "5.jpg"
      })
      @@include("./projects/item.html", {
        "link": "project-6.html",
        "title": "Bay 25th Street",
        "subtitle": "3-family semi-detached residence construction.",
        "img": "6.jpg"
      })
      @@include("./projects/item.html", {
        "link": "project-7.html",
        "title": "99th St Brooklyn",
        "subtitle": "New 2-family residential building construction.",
        "img": "7.jpg"
      })
    </div>
  </div>
</div>
<div class="divider-dark-primary"></div>
