<div class="first-filler content dark-both">
  <div class="container">
    <div id="pageHeaderTitle">
      <h1>Expertly Executed Projects, One Name you can trust.</h1>
    </div>
    <div class="row">
      @@include("./projects/item.html", {
        "title": "Boerum Street",
        "subtitle": "Residential building construction.",
        "description": "19-story residential building in Williamsburg. The 190-foot tall structure yields 100,650 square feet for residential use, with 162 dwelling units, averaging 838 square foot per unit. Below ground space comes with capacity for 85 vehicles and storage space. The first floor has two recreational spaces, a lobby and a package room.",
        "img": "1.png",
        "theme": "light"
      })
      @@include("./projects/item.html", {
        "title": "Manhattan avenue",
        "subtitle": "Residential and commercial development.",
        "description": "Located in Greenpoint, Brooklyn, between Freeman Street and Green Street, the 75-foot-tall development yields 28,436 square feet, with 24,666 square feet designated for residential space and 3,770 square feet for commercial space. The building has 30 residences with nine affordable housing units. Units are rentals based on the average unit scope of 822 square feet. The concrete-based structure has a cellar and a 22-foot-long rear yard.",
        "img": "2.png",
        "theme": "light"
      })
      @@include("./projects/item.html", {
        "title": "West 13th Street Manhattan",
        "subtitle": "High-rise residential construction.",
        "description": "Seven Story High Rise residential structure. The seventy foot structure yields close to 75,200 square feet dedicated to residential use.",
        "img": "3.jpg",
        "theme": "light"
      })
      @@include("./projects/item.html", {
        "title": "Narrows Road Brooklyn",
        "subtitle": "Residence renovation.",
        "description": "Renovation of existing detached one family residence.",
        "img": "4.jpg",
        "theme": "light"
      })
      @@include("./projects/item.html", {
        "title": "Saint Edwards Street",
        "subtitle": "Residential building construction.",
        "description": "19-story residential building in Williamsburg. The 190-foot tall structure yields 100,650 square feet for residential use, with 162 dwelling units, averaging 838 square foot per unit. Below ground space comes with capacity for 85 vehicles and storage space. The first floor has two recreational spaces, a lobby and a package room.",
        "img": "5.jpg",
        "theme": "light"
      })
      @@include("./projects/item.html", {
        "title": "Bay 25th Street",
        "subtitle": "3-family semi-detached residence construction.",
        "description": "2 Story, basement and cellar 3 family semi-detached residence",
        "img": "6.jpg",
        "theme": "light"
      })
      @@include("./projects/item.html", {
        "title": "99th Street Brooklyn",
        "subtitle": "New 2-family residential building construction.",
        "description": "New 4-story & Cellar, 2-family residential building located in Brooklyn",
        "img": "7.jpg",
        "theme": "light"
      })
    </div>
  </div>
</div>
<div class="divider-dark-primary"></div>
