<div class="first-filler content dark-both">
  <div class="container">
    <div id="pageHeaderTitle">
      <h1>Expertly Executed Projects.<br/>One Name you can trust.</h1>
    </div>
    <div class="gallery">
      @@include("./projects/item.html", {
        "page": "project-1",
        "link": "project-1.html",
        "img": "0.jpg",
        "title": "Boerum Street"
      })
      @@include("./projects/item.html", {
        "page": "project-2",
        "link": "project-2.html",
        "img": "0.png",
        "title": "Manhattan avenue"
      })
      @@include("./projects/item.html", {
        "page": "project-3",
        "link": "project-3.html",
        "img": "0.jpg",
        "title": "West 13th St Manhattan"
      })
      @@include("./projects/item.html", {
        "page": "project-4",
        "link": "project-4.html",
        "img": "0.jpg",
        "title": "Narrows Road"
      })
      @@include("./projects/item.html", {
        "page": "project-5",
        "link": "project-5.html",
        "img": "0.jpg",
        "title": "Saint Edwards St"
      })
      @@include("./projects/item.html", {
        "page": "project-6",
        "link": "project-6.html",
        "img": "0.jpg",
        "title": "Bay 25th Street"
      })
      @@include("./projects/item.html", {
        "page": "project-7",
        "link": "project-7.html",
        "img": "0.jpg",
        "title": "99th St Brooklyn"
      })
    </div>
  </div>
</div>
<div class="divider-dark-primary"></div>
