<div class="first-filler index-filler"></div>
<div class="carousel-container">
  <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./img/about-us/carousel/1.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="./img/about-us/carousel/2.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="./img/about-us/carousel/3.jpg" class="d-block w-100">
      </div>
    </div>
  </div>
  <div class="carousel-overlay">
    <div class="container carousel-title">
      <div class="carousel-title-first row flex-row flex-wrap">
        <div class="carousel-title-item">Lighting</div>
        <div class="carousel-title-item">Your</div>
        <div class="carousel-title-item">Vision</div>
      </div>
      <div class="carousel-title-second row flex-row flex-wrap">
        <div class="carousel-title-item">Expert</div>
        <div class="carousel-title-item">Craftsmanship</div>
        <div class="carousel-title-item">in</div>
        <div class="carousel-title-item">Electrical</div>
        <div class="carousel-title-item">Construction</div>
        <div class="carousel-title-item">and</div>
        <div class="carousel-title-item">Renovation</div>
      </div>
    </div>
  </div>
</div>
