header {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #header {
    padding: 1rem;
    font-family: Barlow-SemiBold;
    color: $light;
  }
  #header * {
    font-size: 1.5rem;
  }
  #header .dropdown-menu * {
    font-size: 1.2rem;
  }
  #headerLeft {
    width: 40%;
  }
  #togglerLeft {
    display: none;
  }
  #togglerRight {
    margin-left: 0.5rem;
  }
  #logo {
    height: 92px;
    width: auto;
  }
  #headerRight {
    width: 60%;
  }
  .phone {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .phoneText {
    font-family: Barlow-SemiBold;
    color: $gray-light;
    padding-right: 1rem;
    text-align: end;
  }
  .phoneDropdownButton {
    color: $light;
  }
  .dropdown-menu {
    min-width: 100px;
    border: solid 2px $primary;
    background-color: $dark;
  }
  .dropdown-item {
    text-transform: uppercase;
    color: $light;
    &:active, &:hover {
      color: $light !important;
      background-color: $primary;
    }
    &:focus {
      color: $light !important;
      background-color: $dark;
    }
  }
  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-item {
    padding: 0 0.5rem 0 0.5rem;
  }
  .nav-link {
    font-family: Barlow-SemiBold;
    color: $light;
    text-transform: uppercase;
    &:hover, &:active {
      color: $secondary;
    }
  }
  .underline {
    width: 100%;
    height: 8px;
    background-color: $primary;
  }

  .scrolled-down{
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }

  // modal
  .modal-header {
    color: $dark;
  }
  #confirmCallModalLabel {
    font-size: 1.5rem;
  }
  .modal-body {
    color: $dark;
    font-size: 1.2rem;
  }
  .btn-gray {
    color: $light;
    background-color: $gray-dark;
    border-color: darken($gray-dark, 10%);
    &:hover, &:active {
      background-color: darken($gray-dark, 15%);
    }
  }
  // expand
  .navbar-toggler {
    display: none;
    background-color: #29292f;
  }
  #navbarContent .phone {
    display: none;
  }
  .fas.fa-bars {
    color: $light-gray;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem !important;
  }

  // media
  @media screen and (max-width: 1199px) {
    #header * {
      font-size: 1.3rem;
    }
  }
  @media screen and (max-width: 991px) {
    #header {
      max-width: 100%;
      padding: 1rem 2rem 1rem 2rem;
      justify-content: center;
    }
    #logo {
      height: 80px;
    }
    #headerRight {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    // expand
    .phoneText {
      padding-right: 0.5rem;
    }
    #headerRight .navbar-nav {
      display: none;
    }
    .navbar-toggler {
      display: block;
    }
    .navbar-collapse.collapsing, .navbar-collapse.show {
      display: block; /* Показать меню при активации */
    }
    #navbarContent {
      position: fixed;
      top: -8px;
      right: 0px;
      z-index: -1;
    }
    .navbar-nav {
      flex-direction: column;
      align-items: center;
      background-color: $dark;
      padding: 0 1rem 1rem 1rem;
    }
    .nav-item {
      padding: 0;
      font-size: 1.3rem;
      width: 100%;
      text-align: center;
    }
    .nav-link {
      padding: 0.5rem;
      &:hover {
        color: $light;
        background: #29292f;
      }
    }
    .underline {
      z-index: -2;
    }
  }
  @media screen and (max-width: 767px) {
    #header * {
      font-size: 1.2rem;
    }
    #logo {
      height: 70px;
    }
    .phone {
      padding-right: 0;
    }
    .phoneText {
      display: none;
    }
  }
  @media screen and (max-width: 550px) {
    #header {
      max-width: 100%;
      padding: 1rem;
      flex-direction: column;
    }
    #headerLeft {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .navbar-brand {
      margin: 0;
      padding: 0;
    }
    #logo {
      height: 80px;
    }
    #togglerLeft {
      display: flex;
      margin-left: 1rem;
      width: 100%;
      max-width: 60px;
      height: 60px;
    }
    .navbar-toggler-icon {
      height: 100%;
      width: 100%;
    }
    #headerRight {
      display: none;
    }

    // expand
    .fas.fa-bars {
      font-size: 2rem !important;
    }
    #navbarContent {
      .phone {
        display: flex;
        padding-bottom: 1rem;
      }
      .phoneDropdownButton {
        padding: 0.5rem;
        font-family: barlow-semibold;
        font-size: 1.3rem;
      }
      .dropdown-menu {
        border: 0;
        background: #29292f;
        border-radius: 0;
        padding: 0;
      }
      .dropdown-item {
        padding: 0.5rem 1rem 0.5rem 1rem;
        &:focus {
          background-color: #29292f;
        }
      }
      .dropdown-item span {
        font-size: 1.2rem !important;
        font-family: barlow-semibold;
      }
    }
  }
  @media screen and (max-width: 400px) {
    #header * {
      font-size: 1.2rem;
    }
  }
}
