$light: #f0f1f2;
$light-gray: #dbdcdd;
$gray-light: #98989a;
$gray-dark: #555558;
$dark: #1c1c20;
$primary: #c14845;
$secondary: #fde047;
$font-family-base: Barlow-Regular;
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import '../../node_modules/font-awesome/css/font-awesome.min.css';
@import 'fonts.scss';

body {
  font-size: 16px;
  color: $white;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}

a {
  text-decoration: none;
  &:active, &:hover {
    color: $secondary;
    transition: color 0.3s ease-in-out;
  }
}

.content {
  &.dark {
    background: $dark;
    background-image: linear-gradient(170deg, $primary, transparent 50%);
  }
  &.dark-rev {
    background: $dark;
    background-image: linear-gradient(-10deg, $primary, transparent 50%);
  }
  &.dark-both {
    background: $dark;
    background-image: linear-gradient(170deg, $primary, transparent 50%), linear-gradient(-10deg, $primary, transparent 50%);
  }
  &.dark-nored {
    background: $dark;
  }
  &.light {
    background: $light-gray;
    background-image: linear-gradient(-10deg, $white, transparent 50%);
  }
}

.divider {
  height: 2rem;
  width: 100%;
}
.divider-dark-light {
  @extend .divider;
  background: repeating-linear-gradient(-45deg, $dark, $dark 10px, $light 10px, $light 20px);
}
.divider-dark-primary {
  @extend .divider;
  background: repeating-linear-gradient(-45deg, $dark, $dark 10px, $primary 10px, $primary 20px);
}
.divider-dark-graylight {
  @extend .divider;
  background: repeating-linear-gradient(-45deg, $dark, $dark 10px, $gray-light 10px, $gray-light 20px);
}
.divider-dark-graydark {
  @extend .divider;
  background: repeating-linear-gradient(-45deg, $dark, $dark 10px, $gray-dark 10px, $gray-dark 20px);
}
.divider-graylight-light {
  @extend .divider;
  background: repeating-linear-gradient(-45deg, $gray-light, $gray-light 10px, $light 10px, $light 20px);
}
.divider-graylight-lightgray {
  @extend .divider;
  background: repeating-linear-gradient(-45deg, $gray-light, $gray-light 10px, $light-gray 10px, $light-gray 20px);
}
.divider-lightgray-light{
  @extend .divider;
  background: repeating-linear-gradient(-45deg, $light-gray, $light-gray 10px, $light 10px, $light 20px);
}
