@import 'common.scss';

footer {
  // common
  padding: 0;
  margin: 0;
  color: $light-gray;
  background-color: $dark;
  font-size: 1.3rem;
  a {
    color: $primary;
  }
  .disabled a {
    color: $gray-dark;
  }

  // footer
  #footerTop {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .title {
    font-family: Barlow-Semibold;
    font-size: 1.5rem;
    color: $gray-light;
    text-transform: uppercase;
  }
  // left
  #footerTopLeft {
    display: flex;
    justify-content: center;
  }
  // right
  #footerTopRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #footerLogo {
    max-width: 250px;
    width: 100%;
  }
  #footerSocial {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 3rem;
    a {
      margin: 0.5rem;
    }
  }
  // copyright
  #copyright {
    padding: 1rem;
    display: flex;
    max-width: 100%;
    justify-content: center;
    background-color: #29292f;
    font-size: 1.1rem;
  }

  #footerCompany {
    padding: 0 2rem 0 0;
    margin: 0;
  }
  #footerContacts {
    margin: 0;
  }
  .nav-link a {
    width: 100%;
    display: flex;
    padding: 0 0.5rem;
  }
  #footerContacts .fas {
    padding-right: 0.5rem;
  }

  // media
  @media screen and (max-width: 991px) {
    .container {
      max-width: 100%;
    }
    #footerTopRight a {
      text-align: end;
    }
    #footerSocial {
      justify-content: flex-end;
    }
  }
  @media screen and (max-width: 767px) {
    #footerTop {
      flex-direction: column-reverse;
    }
    #footerTopLeft {
      padding-top: 1rem;
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
    }
    #footerTopRight {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    #footerSocial {
      padding-left: 2rem;
      flex-direction: row;
    }
    #footerCompany {
      padding-right: 1rem;
    }
  }
  @media screen and (max-width: 545px) {
    #footerContacts i {
      display: none;
    }
  }
  @media screen and (max-width: 530px) {
    #footerSocial {
      display: none;
    }
  }
  @media screen and (max-width: 490px) {
    .title {
      font-size: 1.3rem;
    }
    li {
      font-size: 1.1rem;
    }
    .nav-link {
      font-size: 1.1rem;
    }
    #copyright {
      font-size: 1rem;
    }
  }
}
