@import "common.scss";
@import "header.scss";
@import "footer.scss";

main {
  .content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    &.dark {
      color: $light;
      background: $dark;
      background-image: linear-gradient(170deg, $primary, transparent 50%);
    }
    &.dark-rev {
      color: $light;
      background: $dark;
      background-image: linear-gradient(-10deg, $primary, transparent 50%);
    }
    &.dark-both {
      color: $light;
      background: $dark;
      background-image: linear-gradient(170deg, $primary, transparent 40%, transparent 60%, $primary);
    }
    &.light {
      color: $dark;
      background: $light-gray;
      background-image: linear-gradient(-10deg, $white, transparent 50%);
    }
  }
  #pageHeaderTitle {
    font-family: Barlow-SemiBold;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: $light;
    width: 100%;
    display: flex;
    justify-content: center;
    h1 {
      max-width: 960px;
      margin-bottom: 2rem;
    }
  }

  // projects
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .project {
    padding: 0.5rem;
    .project-link {
      color: initial;
      margin: 0;
      padding: 0;
      height: 100%;
    }
  }
  .postcard {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 21px -12px $black;
    height: 100%;
    .postcard__img_link {
      display: flex;
      justify-content: center;
      max-height: 300px;
      .postcard__img {
        transition: transform 0.3s ease;
        position: relative;
        max-height: 100%;
        width: auto;
      }
    }
    .postcard__text {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      width: 100%;
      height: 100%;
      box-shadow: 0 -19px 14px 7px $dark;
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: -14%;
        right: 0;
        width: 100%;
        height: 25%;
        background-color: $light;
      }
      .postcard__title {
        text-transform: uppercase;
        font-family: Barlow-Bold;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0;
        transition: color 0.2s ease;
      }
      .postcard__subtitle {
        font-size: 1rem;
      }
      .postcard__bar {
        width: 50px;
        height: 10px;
        margin: 10px 0;
        transition: width 0.2s ease, color 0.2s ease;
      }
    }
    &.light {
      color: $dark;
      background-color: $light;
      .postcard__bar {
        background-color: $dark;
      }
      &:active .postcard__title, &:hover .postcard__title {
        color: $primary;
      }
    }
    &:active, &:hover {
      .postcard__img {
        transform: scale(1.1);
      }
      .postcard__bar {
        width: 100px;
        color: $primary !important;
      }
    }
  }
}
