@import "common.scss";
@import "header.scss";
@import "footer.scss";
main {
    .projectContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .gallery {
        width: 100%;
        background: #232323;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .projectBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }
    .projectName {
        color: #646b72;
        margin: 1rem 0 0.5rem 0;
    }
    /*////-slider-////*/
    .wrap {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .wrap > input {
        display: none;
    }
    .slider {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 1);
        max-width: 1200px;
    }

    /* bootons */
    .wrap label {
        cursor: pointer;
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 1rem 0 1rem 0;
        position: relative;
        border: 0.12rem solid black;
        opacity: 0.4;
        transition: 0.5s;
        background: black;
        overflow: hidden;
    }
    .wrap label:active,
    .wrap label:hover {
        opacity: 0.8;
        border: 0.12rem solid brown;
        transition: 0.5s;
    }
    #point1:checked ~ .control label:nth-of-type(1),
    #point2:checked ~ .control label:nth-of-type(2),
    #point3:checked ~ .control label:nth-of-type(3),
    #point4:checked ~ .control label:nth-of-type(4),
    #point5:checked ~ .control label:nth-of-type(5),
    #point6:checked ~ .control label:nth-of-type(6),
    #point7:checked ~ .control label:nth-of-type(7),
    #point8:checked ~ .control label:nth-of-type(8),
    #point9:checked ~ .control label:nth-of-type(9) {
        border: 0.12rem solid brown;
        background: black;
        opacity: 1;
        transition: 0.5s;
    }
    .labelImg {
        height: 50px;
    }
    /* переключение */
    #point1:checked ~ .slider > .auto1,
    #point2:checked ~ .slider > .auto2,
    #point3:checked ~ .slider > .auto3,
    #point4:checked ~ .slider > .auto4,
    #point5:checked ~ .slider > .auto5,
    #point6:checked ~ .slider > .auto6,
    #point7:checked ~ .slider > .auto7,
    #point8:checked ~ .slider > .auto8,
    #point9:checked ~ .slider > .auto9 {
        transition-delay: 0.3s;
        opacity: 1;
        z-index: 1;
        height: auto;
    }
    /*----------------------------------------*/
    .projectImg {
        width: 100%;
        opacity: 0.9;
        flex-basis: auto;
        border: solid 0.05rem black;
    }
    .projectImg:active,
    .projectImg:hover {
        opacity: 1;
        transition: opacity 0.1s
    }

    .gallery figure {
        position: relative;
        overflow: hidden;
        margin: 0;
        text-align: center;
    }
    .gallery .slides {
        opacity: 0;
        z-index: 0;
        transition: 0.7s;
        height: 0;
    }
    .gallery figure img {
        position: relative;
        display: block;
        opacity: 0.8;
    }
    .gallery figure figcaption {
        color: #00dbb9;
        text-shadow: black 0 0 5px;
        text-transform: uppercase;
        font-size: 1.25em;
        backface-visibility: hidden;
    }
    .gallery figure figcaption::before,
    .gallery figure figcaption::after {
        pointer-events: none;
    }
    .gallery figure figcaption,
    .gallery figure figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    figure.projectBlock2 {
        background: #101010;
    }
    figure.projectBlock2 img {
        opacity: 0.85;
        transition: opacity 0.5s;
    }
    figure.projectBlock2:active img,
    figure.projectBlock2:hover img {
        opacity: 1;
    }
    figure.projectBlock2 figcaption::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
        content: '';
    }
    figure.projectBlock2 figcaption::before,
    figure.projectBlock2 h2 {
        transition: opacity 1.2s, transform 0.5s;
    }
    figure.projectBlock2:active figcaption::before,
    figure.projectBlock2:active h2,
    figure.projectBlock2:hover figcaption::before,
    figure.projectBlock2:hover h2 {
        opacity: 0;
    }

    /*///1-3///*/
    .galleryLeft, .galleryRight {
        width: 20%;
    }
    .galleryLinkLeft, .galleryLinkRight {
        height: 100%;
        color: #45c3ec;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .galleryLinkLeft {
        opacity: 0.5;
        transition: opacity 0.5s;
    }

    .galleryLinkLeft:active,
    .galleryLinkLeft:hover {
        color: #00dbb9;
        opacity: 1;
        transition: opacity 0.5s
    }

    .galleryLinkRight {
        opacity: 0.5;
        transition: opacity 0.5s;
    }

    .galleryLinkRight:active,
    .galleryLinkRight:hover {
        color: #00dbb9;
        opacity: 1;
        transition: opacity 0.5s;
    }

    .indexLeft, .indexRight {
        font-size: 5em;
        margin: 0;
        padding: 0;
    }

    .empty {
        width: 100%;
        height: 2rem;
    }

    /*//////////-descriptionBlock-//////////*/
    .descriptionBlock {
        width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .descriptionBlockItem1 {
        margin: 0.5rem 3% 0.5rem 3%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .descriptionBlockName {
        text-align: center;
        font-size: 1.3em;
        font-weight: 400;
        color: #8c939b;
    }

    .tools {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .toolsItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0.5rem 0 0.5rem;
    }

    .toolsIcon img {
        width: 55px;
    }

    .toolsName {
        margin: 0.5rem 0 0 0;
        font-size: 2.5ex;
        color: #51585f;
    }

    .descriptionBlockItem2 {
        margin: 3%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .description {
        color: #5b6269;
        font-size: 1.3em;
        margin: 0;
    }

    /*////////-media-//////*/
    @media (min-width: 600px) and (max-width: 1024px) {
        .toolsText, .toolsTextItem, .descriptionBlockName, .projectName {
            font-size: 1.2em;
        }

        .projectBlock {
            margin: 0.5rem 0 0 0;
        }

        .description {
            font-size: 1.1em;
        }

        .descriptionBlock {
            width: 80%;
        }

        .empty {
            height: 1.5em;
        }

        .indexLeft, .indexRight {
            font-size: 4em;
        }

        .toolsIcon img {
            width: 45px;
        }

        .toolsName {
            font-size: 2ex;
        }

        .gallery {
            width: 100%;
        }

        .projectName {
            margin: 0.5rem 0 0.5rem 0;
        }
    }

    @media (max-width: 600px) {
        .toolsText, .toolsTextItem, .description, .descriptionBlockName, .projectName, .toolsName {
            font-size: 1.1em;
        }

        .projectBlock {
            margin: 0.3rem 0 0 0;
        }

        .descriptionBlock {
            width: 95%;
        }

        .empty {
            height: 1rem;
        }

        .indexLeft, .indexRight {
            font-size: 2.5em;
            padding: 0.8rem;
        }

        .toolsItem {
            padding: 0 0.25rem 0 0.25rem;
        }

        .toolsIcon img {
            width: 35px;
        }

        .toolsName {
            font-size: 2ex;
        }

        .wrap label {
            height: 30px;
            width: 30px;
        }

        .labelImg {
            height: 30px;
        }

        .gallery {
            width: 100%;
        }

        .projectName {
            margin: 0.3rem 0 0.5rem 0;
        }
    }

    @media (max-width: 300px) {
        .wrap label {
            height: 25px;
            width: 25px;
            margin: 0.3rem 0 0.2rem 0;
        }
    }
}
