@import "_common.scss";

main {
  background: $light;
  color: $dark;

  // title
  #pageHeaderTitle {
    text-align: center;
    color: $dark;
    padding: 3rem 0;
    h1 {
      font-family: Barlow-SemiBold;
      text-transform: uppercase;
      font-size: 2.5rem;
    }
  }
  // project
  .postcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    color: $dark;
    background-color: $light;
  }
  .postcard-title {
    text-transform: uppercase;
    font-family: Barlow-Bold;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
    transition: color 0.2s ease;
  }
  .postcard-bar {
    width: 150px;
    height: 7px;
    transition: width 0.2s ease;
    background-color: $primary;
    margin-bottom: 0.5rem;
  }
  .postcard-subtitle {
    text-transform: uppercase;
    font-family: Barlow-Regular;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }
  .postcard-description {
    font-size: 1.4rem;
    padding-left: 1rem;
    p { margin: 0; }
  }
  .fa-circle {
    font-size: 0.5rem;
    align-content: center;
    vertical-align: middle;
    padding-right: 0.5rem;
  }

  // project-left
  .thumbnail-images ul {
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
    li {
      margin: 5px;
      padding: 10px;
      border: 2px solid #eee;
      cursor: pointer;
      transition: all 0.5s;
      &:hover { border: 2px solid #000; }
    }
  }
  .main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 400px;
    width: 100%;
    overflow: hidden;
  }
  // project-right
  .right-side {
    position: relative;
  }
  .scope-of-work span {
    font-size: 14px;
    margin-left: 12px;
  }
  .description p {
    font-size: 12px;
  }
  // project-cards slider
  
 
  // media
  // @media (max-width: 992px) {}
  // @media (max-width: 768px) {}
}
