@import "common.scss";

main {
  .content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    &.dark {
      color: $light;
      background: $dark;
      background-image: linear-gradient(170deg, $primary, transparent 50%);
    }
    &.dark-rev {
      color: $light;
      background: $dark;
      background-image: linear-gradient(-10deg, $primary, transparent 50%);
    }
    &.dark-both {
      color: $light;
      background: $dark;
      background-image: linear-gradient(170deg, $primary, transparent 40%, transparent 60%, $primary);
    }
    &.light {
      color: $dark;
      background: $light-gray;
      background-image: linear-gradient(-10deg, $white, transparent 50%);
    }
  }
  #pageHeaderTitle {
    font-family: Barlow-SemiBold;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: $light;
    width: 100%;
    display: flex;
    justify-content: center;
    h1 {
      max-width: 960px;
      margin-bottom: 2rem;
    }
  }

  // projects
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .project {
    padding: 0.5rem;
    .project-link {
      color: initial;
      margin: 0;
      padding: 0;
      height: 100%;
    }
  }
  .postcard {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 21px -12px $black;
    height: 100%;
    .postcard__img_link {
      display: flex;
      justify-content: center;
      max-height: 300px;
      height: 60%;
      overflow: hidden;
      .postcard__img {
        transition: transform 0.3s ease;
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .postcard__text {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      width: 100%;
      height: 40%;
      background-color: $light;
      box-shadow: 0 -15px 20px 0px $dark;
      .postcard__title {
        text-transform: uppercase;
        font-family: Barlow-Bold;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0;
        transition: color 0.2s ease;
      }
      .postcard__subtitle {
        font-size: 1.2rem;
      }
    }
    &:active, &:hover {
      .postcard__img {
        transform: scale(1.1);
      }
    }
    &.light {
      color: $dark;
      background-color: $light;
      .postcard__bar {
        width: 50px;
        min-height: 8px;
        margin: 8px 0;
        background-color: $dark;
        transition: width 0.2s ease, background-color 0.2s ease;
      }
      &:active, &:hover {
        .postcard__title {
          color: $primary;
        }
        .postcard__bar {
          width: 100px;
          background-color: $primary;
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .postcard__img_link {
      height: 50%;
    }
    .postcard__text {
      height: 50%;
    }
  }
  @media (max-width: 992px) {
    .postcard__img_link {
      height: 60%;
    }
    .postcard__text {
      height: 40%;
    }
  }
  @media (max-width: 768px) {
    .container {
      max-width: 90%; 
    }
    .postcard__img_link {
      height: 50%;
    }
    .postcard__text {
      height: 50%;
    }
    .postcard__title {
      font-size: 1.5rem;
    }
    .postcard__bar {
      min-height: 6px;
    }
  }
  @media (max-width: 576px) {
    .postcard__img_link {
      max-height: 250px;
      height: 60%;
    }
    .postcard__text {
      height: 40%;
    }
  }
}
