<div class="first-filler index-filler">
</div>
<div class="carousel-container">
  <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./img/index/slider/0.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="./img/index/slider/1.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="./img/index/slider/2.jpg" class="d-block w-100">
      </div>
    </div>
  </div>
  <div class="carousel-overlay">
    <div class="container carousel-title">
      <div class="carousel-title-first row flex-row flex-wrap">
        <div class="carousel-title-item">Comprehensive</div>
        <div class="carousel-title-item">Electrical</div>
        <div class="row flex-row flex-wrap">
          <div class="carousel-title-item">Contracting</div>
          <div class="carousel-title-item">Services</div>
        </div>
      </div>
      <div class="carousel-title-second row flex-row flex-wrap">
        <div class="carousel-title-item">For</div>
        <div class="carousel-title-item">Your</div>
        <div class="carousel-title-item">Every</div>
        <div class="carousel-title-item">Need</div>
      </div>
    </div>
  </div>
</div>
<script>
// анимировать активный слайдер
$(document).ready(function() {
  $('#carouselFade').on('slid.bs.carousel', function () {
    // Плавно возвращаем увеличение к исходному масштабу перед началом анимации
    $('.carousel-item img').css('transform', 'scale(1)');
    // Плавное увеличение активного изображения
    $('.carousel-item.active img').css('transform', 'scale(1.05)');
  });
});
</script>
