<div class="first-filler"></div>
<div class="carousel-container">
  <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./img/careers/slider/0.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="./img/careers/slider/1.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="./img/careers/slider/2.jpg" class="d-block w-100">
      </div>
    </div>
  </div>
  <div class="carousel-overlay">
    <div class="container carousel-title">
      <div class="carousel-title-first row flex-row flex-wrap">
        <div class="carousel-title-item">A Career</div>
        <div class="carousel-title-item">to Be</div>
        <div class="carousel-title-item">Proud Of</div>
      </div>
      <div class="carousel-title-second row flex-row flex-wrap">
        <div class="carousel-title-item">Unlock</div>
        <div class="carousel-title-item">a Better</div>
        <div class="carousel-title-item">Professional</div>
        <div class="carousel-title-item">Experience</div>
      </div>
      <a href="#" target="_blank" class="slider-btn btn btn-primary btn-lg btn-block">View Opportunities</a>
    </div>
  </div>
</div>
